<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div style="height: 100%; width: 100%">
<div><iframe id="1"  name="baidu" style="background:#fff;padding:5px;top:50px;position:relative" frameborder="0" width="50%" height="50%" src="https://www.baidu.com"></iframe>
</div>
<div><iframe id="2" name="taobao"  style="background:#fff;padding:5px;top:50px;position:relative" frameborder="0" width="50%" height="50%" src="https://www.taobao.com"></iframe>
</div>
</div>
</body>
</html>